<div class="pokerlist">
  @if (jiraPokerListLoading) {
    <div>
      loading poker list from jira, please wait
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
  }
  @if (jiraPokerList.length === 0 && !jiraPokerListLoading) {
    <div>
      no entries
      <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
      </div>
    </div>
  }
  @if (!jiraPokerListLoading && jiraPokerList.length > 0) {
    <mat-accordion>
      @for (currentStory of jiraPokerList; track currentStory) {
        <app-jira-story
        [story]="currentStory"></app-jira-story>
      }
    </mat-accordion>
  }
</div>
